*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    /* background-image: linear-gradient(135deg,orange,white,green);
    background-attachment: fixed; */
    
    width: 100%;
    height: 100%;
}
nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
}
nav h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
nav a{
    letter-spacing: -.1vw;
    opacity: 0.7;
    font-weight: 100;
    font-size: 1.3vw;
    text-decoration: none;
    color: black;
    margin: 0 1vw;
}
nav i{
    font-size: 1.9vw;
    cursor: pointer;
}
nav h1{
    font-size: 3vw;
}

main{
    
    width: 100%;
    min-height: 100vh;
   
   

}
.hero{
    overflow: hidden;
    width: 100%;
    height: 100vh;
  
    
}
.banner{
    width: 100%;
    margin-top: 8vw;
    display: flex;
    align-items: center;
}
.bimg{
    width: 65%;
    height: 80vh;
}
.bimg img{
    opacity: 10;
    z-index: 1000;
    padding: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 75%;
}
.btext{
    width: 35%;
    padding: 0 3vw;
}
.btext h1{
    font-size: 2rem;
    letter-spacing: -.1vw;
}
.btext p{
    margin-bottom: 20px;
    width: 60%;
}

.motive{
    margin-top: 10vw;
    display: flex;
    justify-content: space-between;
    padding: 0vw 10vw;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.motive p{
    line-height: 1.7;
    letter-spacing: -.1vw;
    width: 80%;
    text-align: right;
    font-size: 2vw;
   
   
   
}
.cursor{
    height: 75px;
    width: 95px;
    /* background-color: red; */
    background-image: url(gun.png);
    background-position: center;
    background-size: cover;
   
    position: absolute;
    z-index: 9999;
    
}
.motive span{
    display: inline-block;
    width: 8vw;
    height: 3vw;
    margin: 0 10px;
    background-color: rebeccapurple;
    border-radius: 100px;
    margin-bottom: -1vw;
}

#spanfirst{
   background-image: url(https://images.pexels.com/photos/3581355/pexels-photo-3581355.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
   background-position: center;
   background-size: cover;
}
#spansecond{
    background-image: url(https://images.pexels.com/photos/2450438/pexels-photo-2450438.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
}
#spanthird{
    background-image: url(https://images.pexels.com/photos/40753/military-raptor-jet-f-22-airplane-40753.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
   background-size: cover;
}

.future{
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 100vh;
}
.future video{
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 3vw 0vw;
}
.ftext h1{
    font-weight: 900;
    color: black;
}
.ftext{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 9999;
}
.ftext button{
    mix-blend-mode: difference;
    padding: 1vw 1.3vw;
    font-size: 1vw;
    letter-spacing: -.04vw;
    border-radius: 100px;
    border: 1px solid rgb(211, 188, 188);
}
.main{
    background-image: linear-gradient(134deg,orange,white,green);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.up{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 25vw;
    border: 2px solid rgb(238, 202, 202);
    background-image: url(https://imgs.search.brave.com/RGJFbFZ91RzGOgnwdEm3hgK4Rw3LIrAfCMkoHrkSh6c/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9ha20t/aW1nLWEtaW4udG9z/c2h1Yi5jb20vaW5k/aWF0b2RheS9pbWFn/ZXMvc3RvcnkvMjAy/MjA3L0NvdmVyX0lt/YWdlXy1fTmF0aW9u/YWxfRW1ibGVtLnBu/Zz9WZXJzaW9uSWQ9/NlRuY21hU1p5ak9V/STUzdFNZWlQwTVdM/bDE3UlV2cV8mc2l6/ZT02OTA6Mzg4);
    background-position: center;
    background-size: contain;

}
.up i{
    color: white;
    font-size: 4vw;
}
button{
    margin-top: 1vw;
    width: 10vw;
    height: 2vw;
    
}
.records{
    width: 100%;
    height: 20vh;
    
    display: flex;
    padding: 4vw 3vw;
    justify-content: space-around;
}
.record{
    overflow: hidden;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 10px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}


#record-1{
    box-shadow: 0 0 50px rgb(43, 196, 43);
    border: 10px solid green;
    
}
.record::selection{
    background-color: gold;
}
    

.record:active{
    background-color: black;
    color: white;
    transition: 0.5s;
}
#record-2{
    box-shadow: 0 0 50px rgb(7, 167, 7);
    border: 10px solid rgb(26, 184, 26);
}
#record-3{
    box-shadow: 0 0 50px rgb(0, 0, 0);
    border: 10px solid rgb(250, 250, 250);
}
#record-4{
    box-shadow: 0 0 50px rgb(209, 139, 33);
    border: 10px solid rgb(228, 84, 32);
}
#record-5{
    box-shadow: 0 0 50px rgb(238, 101, 22);
    border: 10px solid rgb(212, 98, 31);
}
@media (max-width:600px){
    nav{
        flex-direction: column;
        align-items: center;
        gap: 15vw;
    }
    nav .left{
        position: absolute;
        top: 15vw;
    }
    nav a{
        
        font-size: 4vw;
    }
    nav i{
        position: absolute;
        right: 5vw;
        top: 5.5vw;
        font-size: 7vw;
    }
    nav h1{
        top: 7vw;
        font-size: 10vw;
    }
    main{
        margin-top: 18vw;
    }

}
